
:root{
    --Orange: rgb(244, 111, 15);
    --violet: rgb(94, 79, 230);
    
    --gray: rgb(246, 246, 246);
    
    --yallow: rgb(255, 198, 60);
    --black:	#202020;
    --dark:#27374D;
    --softgrey:#c8c8c8;
    --soft-blue:#5FFBF1;
}



.contact{
    background-color: var(--gray);
}


 .contact form{
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap: 5vw 1vw;
    margin: 5vw;
    font-size: 2.5vw;
    font-family: 'cairo',sans-serif;
    transition: all 300ms ease-in-out;
    width: 80%;
}

 .contact form input[type="email"],
 .contact form textarea,
 .contact form button{
    grid-column: span 2;
}
 .contact form input{
    height: 5vw;
    border:1px solid var(--gray);
    border-radius: 10px;
    background-color: var(--softgrey);
    color: var(--dark);
    outline: none;
    font-family: "cairo";
    font-size: 1.8vw;
}
 .contact form input:focus{
    border:2px solid var(--Orange);
    box-shadow:  0 0 50px inset var(--gray);
}
 .contact form input::placeholder,
 .contact form textarea::placeholder{
    font-family: 'cairo';
    transition: all 300ms ease-in-out;
}
 .contact form input:focus::placeholder,
 .contact form textarea:focus::placeholder{
    position: relative;
    background-color: var(--gray);
    color: var(--black);
    width: fit-content;
    font-size: 1.5vw;
}
 .contact form textarea{
    width: 40vw;
    aspect-ratio: 6/2;
    border: 2px solid var(--Orange);
    border-radius: 10px ;
    font-size: 100%;
    margin :0 auto;
}

 .contact form button{
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
    font-family: "cairo",sans-serif;
    background: transparent;
    border: 1px solid var(--dark);
    cursor: pointer;
    box-shadow: -5px 5px var(--Orange);
    border-radius: 15px;
    transition: all 300ms ease-in-out;
}
 .contact form button:hover{
    box-shadow: -10px 10px var(--yallow);
    background-color: var(--Orange);
    color: var(--gray);
}

/* error messsage styling */

 form >p{
   margin: 0 auto;
   grid-column: span 2;
   color: var(--Orange);
   text-decoration: underline;

}

@media (max-width:688px){
     .contact form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
     .contact form input{
        height: 10vh;
        font-size: large;
    }
     .contact form button{
        width: 20vw;
        height: 8vw;
    }
     .contact form textarea{
        width: 100%;
        font-size: 120%;
    }
     form >p{
        font-size: 4.5vw;
    }
}