:root{
    --Orange: rgb(244, 111, 15);
    --violet: rgb(94, 79, 230);
    
    --gray: rgb(246, 246, 246);
    
    --yallow: rgb(255, 198, 60);
    --black:	#202020;
    --dark:#27374D;
    --softgrey:#c8c8c8;
    --soft-blue:#5FFBF1;
    }

*{
    box-sizing: border-box;
    transition: all 700ms ease-in-out;
}

.container_6 .section{
    background-image: url('./Just_do_it.png');
}