:root{
    --Orange: rgb(244, 111, 15);
    --violet: rgb(94, 79, 230);
    
    --gray: rgb(246, 246, 246);
    
    --yallow: rgb(255, 198, 60);
    --black:black;
    --dark:#27374D;
    --softgrey:#c8c8c8;
    --soft-blue:#5FFBF1;
    }
  
    .flex-column{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .flex-row{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
    }

.cart_container{
  width: 80%;
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;
  
}
.cart_container .header-cart{
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5vh;

}
.cart_container .header-cart h1{
  font-family: 'montserrat' ,sans-serif;
  border-bottom: none;
  font-size: 3vw;
  font-weight: 300;
}
.cart_container .header-cart h1::first-letter{
  font-size: 4.5vw;
  color: var(--Orange);
}
.cart_container .header-cart button{
  background-color: transparent;
  font-size: 1.5vw;
  font-weight: 800;
  font-family:"montserrat";
  cursor: pointer;
  color: var(--Orange);
  border:none;

}
.cart_container .header-cart button img{
  width: 3vw;
  filter: brightness(0) saturate(100%) invert(60%) sepia(50%) saturate(5260%) hue-rotate(355deg) brightness(97%) contrast(97%);
}
.cart_container .addToCart-section nav ul{
  list-style: none;
  justify-content: space-around;
  border-bottom: 1px solid var(--dark);


}
.cart_container .addToCart-section nav ul li{
  font-size: 1.5vw;
  font-family: 'montserrat';
  color:var(--dark);
  opacity: 70%;
}
.cart_container .addToCart-section {
  display: grid;
  grid-template-rows: repeat(auto-fit,minmax(0,1fr));
  gap: 1vw;
}
.cart_container .addToCart-section .item-container{
  width: 100%;
  grid-row: span 1;
  justify-content: space-around;
  border-bottom: 1px solid var(--dark);
}
.cart_container .addToCart-section .item-container .item img{
  width: 15vw;
  border: 1px solid var(--dark);
  margin:0.5vw;
  border-radius: 10px;
}
.cart_container .addToCart-section .item-container  .description{
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.cart_container .addToCart-section .item-container  .description h3{
  font-size:1.5vw;
  width: 80%;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
}
.cart_container .addToCart-section .item-container  .quantity{
  width: 80%;
  height: 100%;
}
.cart_container .addToCart-section .item-container  .quantity button{
  width: 2vw;
  aspect-ratio: 1;
  transform: rotate(45deg);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cart_container .addToCart-section .item-container  .quantity button:first-child{
  border-bottom: 3px solid var(--dark);
  border-left: 3px solid var(--dark);
}
.cart_container .addToCart-section .item-container  .quantity button:last-child{
  border-top: 3px solid var(--dark);
  border-right: 3px solid var(--dark);
}
.cart_container .addToCart-section .item-container  .quantity label{
  border: 1px solid var(--dark);
  width: 3.5vw;
  aspect-ratio: 1;
  text-align: center;
  font-size: 2.5vw;
  font-family: 'montserrat';
}
.cart_container .addToCart-section .item-container .price h3{
  font-size: 2.5vw;
  font-family: "cairo";
  color:var(--Orange);
}
.cart_container .checkout-banner{
  width: 100%;
  height: 20vh;
  margin: 0;
  position: sticky;
  justify-content: space-between;
  bottom: 0;
  border-top:1px solid var(--dark)
}
.cart_container .checkout-banner::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--gray);
  filter:blur(50px)  ;
  z-index: -1;

/* From glass-effect */
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  }
.cart_container .checkout-banner .info {
  align-items: start;
}
.cart_container .checkout-banner .info span{
  font-size: 2.5vw;
  text-align: left;
  font-family: 'montserrat';
}
.cart_container .checkout-banner .info span a{
  font-size: 5vw;
}
.cart_container .checkout-banner .info p{
  font-size: 1.5vw;
  opacity: 70%;
}
.cart_container .checkout-banner button{
  background-color: var(--Orange);
  color: var(--gray);
  font-size: 5vw;
  border: none;
  border-radius: 10px;
  font-family: 'montserrat';
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.cart_container .checkout-banner button:hover{
  color: var(--Orange);
  background-color: var(--gray);
  box-shadow: -10px 10px var(--Orange);
}
@media(max-width:688px){
  .cart_container{
    width: 80%;
    margin: 10% 10% 0 10%;
  }
  .cart_container .header-cart h1{
    font-size:5vw;
  }
  .cart_container .header-cart button{
    font-size: 2vw;
  }
  .cart_container .header-cart button img{
    width: 4.5vw;
  }
  .cart_container .addToCart-section nav ul li{
    font-size: 3vw;
  }
  .cart_container .addToCart-section .item-container .item img{
    width: 25vw;
  }
  .cart_container .addToCart-section .item-container .item  .description h3{
    font-size: 2vw;

  }
  .cart_container .addToCart-section .item-container .price h3{
    font-size: 5vw;
  }
  .cart_container .addToCart-section .item-container  .quantity label{
    width:6vw;
    font-size: 4.5vw;
  }


  /* banner chekout */
  .cart_container .checkout-banner .info {
   
  }
  .cart_container .checkout-banner .info span{
    font-size: 3.5vw;
  }
  .cart_container .checkout-banner .info span a{
    font-size: 7vw;
  }
  .cart_container .checkout-banner .info p{
    font-size: 2vw;
    opacity: 70%;
  }

}