:root{
    --Orange: rgb(244, 111, 15);
    --violet: rgb(94, 79, 230);
    
    --gray: rgb(246, 246, 246);
    
    --yallow: rgb(255, 198, 60);
    --black:	#202020;
    --dark:#27374D;
    --softgrey:#c8c8c8;
    --soft-blue:#5FFBF1;
    }

*{
    box-sizing: border-box;
    transition: all 700ms ease-in-out;

}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:5rem;
    border-bottom: 1px solid black;
    font-family: "Cairo",sans-serif;
    flex-wrap:nowrap;
    top: 0;
    z-index: 998;
}
* {
    margin:0
}
header .list-items{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    font-size: 15px;
    flex-wrap: nowrap;
}
header .list-items li a{
    text-decoration: none;
    color :black;
    transition: color 50ms linear;
}
header .list-items li{
    transition: scale 100ms ease-in-out;
}
header .list-items li:hover{
    transform: scale(1.3);
    transition: all 300ms ease-in-out;
}
header .list-items li:hover a{
    color: var(--Orange);
}

header .list-items li:has(a.active:only-child) {
    transform: scale(1.3);
}
header .list-items li a.active{
    color: var(--Orange);
}


/* help section  */
header .list-items li[attr='help']{
    background-color: var(--Orange);
    border-radius: 10px;
    width: 5vw;
}
header .list-items li[attr='help'] a.active{
    color: var(--gray);
}
header .list-items li[attr='help']:hover a{
    color: var(--gray);
}

header>a{
    font-size: 30px;
    text-decoration:inherit;
    color:black;
    position: relative;
    animation:logo-entering 1s alternate ease-in-out ;
}
header .interract-items{
    list-style: none;
    display: flex;
    gap:15px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    width: auto;
    position: relative;
}
header .interract-items li{
    position: relative;
}
header .interract-items li img{
    width:30px;
    aspect-ratio: 1;
    transition: all .25s ease-in-out;
    margin-right: 10px;
    background-color:var(--gray);
    border: 2px solid var(--gray) ;
    border-radius: 50%;
}
header .interract-items li img:hover{
    transform: scale(1.5);
}
header .interract-items li a.active img {
    background-color:var(--Orange);
    transform: scale(1.5);
}
header .interract-items li.heart{
    position: relative;
}
header .interract-items li.heart::before{
    content: attr(like_attr);
    position: absolute;
    top: -10%;
    right: 0;
    background-color: var(--Orange);
    color:var(--gray);
    font-weight: 700;
    font-family:"montserrat",sans-serif;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .interract-items li.carte_attr::before{
    content: attr(carte_attr);
    position: absolute;
    top: -10%;
    right: 0;
    background-color: var(--Orange);
    color:var(--gray);
    font-weight: 700;
    font-family:"montserrat",sans-serif;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .interract-items li .likes_container{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    gap: 1rem;
}

header .interract-items li.likes_section{
    position: absolute;
    width: 200%;
    height: fit-content;
    background-color: #ddd;
    z-index: 2000;
    right: 0;
    top:150% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0.6rem;
    --radius:1.5rem;
    border-radius: var(--radius) 0 0 var(--radius);
    overflow-Y: scroll;
    transition: width 300ms ease-in-out;
    /* From glass-effect */
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 50px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: none;
    display: none;
    transition: display 300ms ease-in-out;
    animation: side-bar 0.5s alternate ease-in-out both ;
}

header .interract-items li.likes_section.active{
    display: flex;
    
}

header .interract-items li.likes_section .like_prod_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem 1rem;
    border: 0.2rem solid var(--Orange);
    border-radius: 1rem;
    background-color: var(--gray);
    color: var(--dark);
    
}
header .interract-items li.likes_section .like_prod_container img{
    width: 20%;
}
header .interract-items li.likes_section .like_prod_container p{
    width: fit-content;
    text-align: left;
}
header .interract-items li.likes_section .like_prod_container button{
    background: transparent;
    border: none;
    width: fit-content;
    cursor: pointer;
}
header .interract-items li.likes_section .like_prod_container button img{
    width: 2rem;
    background: transparent;
    padding:0.1rem;
}


header  .toggle{
    width: 35px;
    height: 20px;
    transition: all .5s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform-origin: left;
    display: none;
    padding: 0;
    position: relative;
}
header  .toggle::after{
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
header  .toggle:hover::after{
    width: 50%;
}

header .bar{
    background-color: black;
    width: 100%;
    height: 5px;
    position: relative;
    cursor:pointer;
    transition: all .5s ease-in-out;
    transform-origin: center;
    border-radius: 20px;
    
}
header .bar ,header .toggle:hover:after{
    transition: all 300ms ease-in-out ;
}
header .toggle:hover .bar{
    width:80%;
}

header div.active::after{
    width: 0;
}
header div.active .bar{
    background-color: red;
    width: 80%;
}
header div.active .bar:nth-child(1){
    
    transform: rotate(30deg) translateY(12px) translateX(4px);
}
header div.active .bar:nth-child(2){
    
    transform: rotate(-30deg) translateY(-3px);
}
header.active{
    background-color: var(--gray);
    transition: width 300ms ease-in-out;
    position:sticky !important;
    /* From glass-effect */
    background: rgba(255, 255, 255, 0.33);
    border-radius: 0;
    box-shadow: 50px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: none;
    
     /*  */
}

/* header .toggle .bar::after,header .toggle .bar::before{
    content: "";
    height: 100%;
    background-color: black;
    position: absolute;
    border-radius: 20px;
} */

/* .bar::before{
    bottom:10px;
    width:50%;
    
}
.bar::after{
    top:10px;
    width:150%
} */

@keyframes logo-entering {
    0%{
        top:-100%;
    }
    20%{
        top:50%;
    }
    40%{
        top:-50%;
    }
    60%{
        top:25%;
    }
    80%{
        top:-25%;
    }
    100%{
        top:0%;
    }
}

/* Mobile style*/
@media (max-width:688px){
    header .list-items{
        flex-direction: column;
        order: 2;
        justify-content: center;
        align-content: center;
        align-self: flex-end;
        position: relative;
        height: 20rem;
        border-radius:  10px 0 0 10px;
        transition: all 0.5s ease-in-out;
        position: absolute;
        top:100%;
        right: 0%;
        width: 50%;
        height: 50vh;
        animation: side-bar 0.5s alternate ease-in-out both ;
        z-index: 1000;
        /* From glass-effect */
        background: rgba(0, 0, 0, 0.33);
        border-radius: 0;
        box-shadow: 50px 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.1px);
        -webkit-backdrop-filter: blur(5.1px);
        border-radius: 0 0 0 10px ;
        /*  */
    }
    header .list-items.active{
    display: none;
    }
    header .list-items li a{
        color: whitesmoke;
    }
    header .list-items li{
        position: relative;
        display: block;
        width: 100%;
    }
    /* help section  */
    header .list-items li[attr='help']{
    background:var(--Orange);
    width:80%;
    }
    header .list-items li ::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -5px;
        background-color: whitesmoke;
        left:0;
        transition: all 0.5s ease-in-out;
    }


    header {
        align-content: center;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-around;
        top: 0;
        position: sticky;
        z-index: 999;
    }
    header .toggle{
        justify-self: flex-end;
        position:relative;
        flex-wrap: nowrap;
        display: flex;
        right: 2%;
    }
    header  .toggle .bar{
       justify-self: flex-end;
    }

    header .interract-items{
        justify-self: center;    
        align-items: center;
    }

    header div.toggle.active::after{
        width: 0;
    }
    header .interract-items{
        margin:0;
        margin-left: -10%;
    }
    header .interract-items li.likes_section{
        left: -45%;
        width: 80vw;
    }
    header .interract-items li.likes_section .like_prod_container{
        width:100%;
    }
    header .interract-items li.likes_section .like_prod_container p{
        font-size: 2.5vw;
    }
}
@keyframes side-bar {
    0%{
        right: -100%;
    }
    100%{
        right:0%
    }
}

@media (max-width:375px){
    header{
        justify-content: space-around;
        flex-wrap:nowrap;
    }

    header>a{
        font-size: 25px;
    }
    header .interract-items li img{
        aspect-ratio: 1;
        width: 25px;
        
    }
}